@media only screen and (max-width: 767px) {

  .ss {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 95vh;
    margin: 2rem auto 0;
    padding: 20px;
  }
  .btn-outlinee-secondary {
    color: #760f80;
    border-color: #760f80;
    margin-left: 10px;
    }
  .section__logo {
    display: none;
  }
  .lista {
    display: none;
  }
  .fotosale{
    display: none;
  }
  #prod {
    margin-left: 55px;
  }
  }
  @media only screen and (max-width: 605px) {
    .ss {
      display: none;
    }
  }
  @media only screen and (min-width: 606px) {
    .imagenportada {
      display: none;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .btn-outlinee-secondary {
      color: #760f80;
      border-color: #760f80;
      margin-left: 1px;
      }
    .hamburger {
      display: none;
    }
  }
  @media only screen and (max-width: 975px) {
    .fotosale {
      display: none;
    }
  }