@media only screen and (min-width: 270px) {

.ss { 
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 90%;
}
.btn-outlinee-secondary {
	color: #760f80;
	border-color: #760f80;
  margin-left: 10px;
  margin-bottom: 10px;
  }


}


@media only screen and (min-width: 776px) {

.ss {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 95vh;
  margin: 2rem auto 0;
  padding: 20px;
}
.btn-outlinee-secondary {
	color: #760f80;
	border-color: #760f80;
  margin-left: 10px;
  }

}

@media only screen and (min-width: 1294px) {
  .btn-outlinee-secondary {
    color: #760f80;
    border-color: #760f80;
    margin-left: 1px;
    }
}