.header__p {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #a788e4;
  letter-spacing: 1px;
  color: #760f80;
  background: radial-gradient(circle, #aeeee6 0%, #dc94e9 100%); }

.section__logo {
  width: 60%;
  height: 100%;
  text-align: center; 
  justify-content: center;
}

.section__titul {
  color: #a788e4;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 5px;
  padding-top: 8px;
  font-size: 300%;
  text-shadow: black 2px 0;
  transition: all 2s; }

.section__titul:hover {
  font-size: 400%; }

#parrafos {
  color: #760f80;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: radial-gradient(circle, #aeeee6 0%, #dc94e9 100%);
  width: 100%;
  height: 80px;
  margin: 5px; }

.parrafos__p {
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  letter-spacing: 2px; }

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px dotted #a788e4;
  border-bottom: 1px dotted #a788e4; }

.foot__gei {
  text-align: center;
  letter-spacing: 2px;
  color: #760f80; }

#prod {
  position: relative;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "polleras remeras vestidos"
 "pantalones tops vestidos"
 "shorts tops sacos";
  grid-row-gap: 5px;
  grid-column-gap: 7px;
  justify-content: center;
  height: 80vh;
  width: 90%;
  padding-bottom: 20px;
  padding-top: 20px;
  justify-items: stretch;
  align-items: stretch; }

#shorts {
  grid-area: shorts;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
  padding-top: 50px; }

#pantalones {
  grid-area: pantalones;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
  padding-top: 15vh; }

#tops {
  grid-area: tops;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
  padding-top: 25vh; }

#sacos {
  grid-area: sacos;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
  padding-top: 50px; }

#vestido {
  grid-area: vestidos;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
  padding-top: 25vh; }

#remera {
  grid-area: remeras;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
  padding-top: 50px; }

#pollera {
  grid-area: polleras;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
  padding-top: 50px; }

#shorts:hover {
  transform: skewX(10deg);
  background-image: url(brillo1.jpg);
  color: white; }

#pollera:hover {
  transform: skewX(10deg);
  background-image: url(brillo1.jpg);
  color: white; }

#vestido:hover {
  transform: skewX(10deg);
  background-image: url(brillo1.jpg);
  color: white; }

#sacos:hover {
  transform: skewX(10deg);
  background-image: url(brillo1.jpg);
  color: white; }

#remera:hover {
  transform: skewX(10deg);
  background-image: url(brillo1.jpg);
  color: white; }

#tops:hover {
  transform: skewX(10deg);
  background-image: url(brillo1.jpg);
  color: white; }

#pantalones:hover {
  transform: skewX(10deg);
  background-image: url(brillo1.jpg);
  color: white; }

.p, .p--h2, .color {
  color: #760f80; }

.p--h2 {
  margin-left: 50px;
  padding: 5px; }

.color {
  text-align: left;
  margin-left: 5%;
  margin-top: 2%; }

.formu {
  margin: 30px;
  border: 1px double #760f80;
  padding: 25px;
  text-align: center; }
